<div class="container bs-docs-container"  ng-controller="EditCtrl">
  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar hidden-print affix">
        <ul class="nav bs-sidenav">
          <li class="active">
            <a>Forecast</a>
          </li>
          <li>
            <a>Concept</a>
          </li>
          <li>
            <a>Market Study</a>
          </li>
          <li>
            <a>Finalization</a>
          </li>
        </ul>

        <ul class="nav">
          <li class="active">
            <a ng-click="template='views/overview.html'">Overview</a>
          </li>
          <li>
            <a ng-click="template='views/attributes.html'">Attributes</a>
          </li>
          <li>
            <a ng-click="template='views/specs.html'">Specifications</a>
          </li>
          <li>
            <a ng-click="template='views/costs.html'">Costs</a>
          </li>
          <li>
            <a ng-click="template='views/sales.html'">Sales</a>
          </li>
          <li>
            <a ng-click="template='views/opinion.html'">Expert Opinion</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="bs-docs-section">
        <div class="page-header">
          <h1> Heading</h1>
        </div>
        <div class="container">
          <div ng-include src="template"></div>
        </div>
      </div>
    </div>
  </div>
</div>
