<div class="container bs-docs-container"  ng-controller="EditCtrl">
  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar hidden-print affix">
        <ul class="nav bs-sidenav">
          <li ng-class="{true: 'active', false: ''}[currentPhase == 'forecast']" >
            <a>Forecast</a>
          </li>
          <li ng-class="{true: 'active', false: ''}[currentPhase == 'concept']">
            <a>Concept</a>
          </li>
          <li ng-class="{true: 'active', false: ''}[currentPhase == 'marketstudy']">
            <a>Market Study</a>
          </li>
          <li ng-class="{true: 'active', false: ''}[currentPhase == 'finalization']">
            <a>Finalization</a>
          </li>
        </ul>

        <ul class="nav">
          <li ng-class="{true: 'active', false: ''}[template=='views/'+view[1]]" ng-repeat="(key,view) in views">
            <a ng-click="selectView(view[1])">{{view[0]}}</a>
          </li>
        </ul>

      </div>
    </div>
    <div class="col-md-9">
      <div class="bs-docs-section">
        <div class="page-header">
          <h3>
            {{currentPhase}}
            <button class="btn btn-default pull-right" ng-click="back()">Back</button>
            <button class="btn btn-primary pull-right" ng-click="edit=!edit">
              <span ng-show="!edit">Edit</span>
              <span ng-show="edit">View</span>
            </button>
          </h3>
        </div>
        <div class="container">
          <div ng-include src="template"></div>
        </div>
      </div>
    </div>
  </div>
</div>
