<div class="container bs-docs-container"  ng-controller="EditCtrl">
  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar hidden-print affix">
        <ul class="nav bs-sidenav">
          <li ng-class="{true: 'active', false: ''}[currentPhase == 'forecast']" >
            <a>Forecast</a>
          </li>
          <li ng-class="{true: 'active', false: ''}[currentPhase == 'concept']">
            <a>Concept</a>
          </li>
          <li ng-class="{true: 'active', false: ''}[currentPhase == 'marketstudy']">
            <a>Market Study</a>
          </li>
          <li ng-class="{true: 'active', false: ''}[currentPhase == 'finalization']">
            <a>Finalization</a>
          </li>
        </ul>

        <ul class="nav">
          <li ng-repeat="(key,view) in views">
            <a ng-class="{true: 'active', false: ''}[template=='views/'+view[1]]" ng-click="selectView(view[1])">{{view[0]}}</a>
          </li>
        </ul>

      </div>
    </div>
    <div class="col-md-9">
      <div class="bs-docs-section">
        <div class="page-header">
          <h1> Heading</h1>
        </div>
        <div class="container">
          <div ng-include src="template"></div>
        </div>
      </div>
    </div>
  </div>
</div>
