<div class="container bs-docs-container" ng-controller="ListCtrl">
  <div class="row">
    <div class="col-md-9">
      <div class="">
        <button type="button" class="btn btn-primary pull-right" ng-click="create()">Start Initiative</button>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>No.</th>
              <th>First Name</th>
              <th>Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key,value) in initiatives" ng-click="edit(key)">
              <td>{{value.overview.code}}</td>
              <td>{{value.overview.email}}</td>
              <td>{{value.overview.name}}</td>
              <td>
                <div class="btn-group">
                  <button ng-class="{true: 'btn btn-warning', false: 'btn btn-default'}[value.phase=='forecast']">Forecast</button>
                  <button ng-class="{true: 'btn btn-warning', false: 'btn btn-default'}[value.phase=='concept']">Concept</button>
                  <button ng-class="{true: 'btn btn-warning', false: 'btn btn-default'}[value.phase=='marketstudy']">Market Study</button>
                  <button ng-class="{true: 'btn btn-warning', false: 'btn btn-default'}[value.phase=='finalization']">Finalization</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
