<div ng-show="edit"  ng-controller="OverviewCtrl">
<form name="oForm" class="form-horizontal" role="form">
  <h4>Overview:</h4>
  <div class="form-group">
    <label class="col-lg-2 control-label">Code</label>
    <div class="col-lg-10">
      <input type="text" name="code" class="form-control" ng-model="overview.code" required/>
      <span class="help-inline" ng-show="oForm.code.$error.required">Required</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Owner</label>
    <div class="col-lg-10">
      <input type="text" name="owner" class="form-control" ng-model="overview.owner" required/>
      <span class="help-inline" ng-show="oForm.owner.$error.required">Required</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Manager</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" ng-model="overview.manager"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Date</label>
    <div class="col-lg-10">
      <input type="date" class="form-control" name="date" ng-model="overview.date" required/>
      <span class="help-inline" ng-show="oForm.date.$error.required">Required</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-success" ng-click="create()" ng-disabled="!oForm.$valid">Save</button>
    </div>
  </div>
</form>
</div>

<div ng-show="!edit"  ng-controller="OverviewCtrl">
<form class="form-horizontal" role="form">
  <h4>Overview:</h4>
  <div class="form-group">
    <label class="col-lg-2 control-label">Code</label>
    <div class="col-lg-10">
      {{overview.code}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Owner</label>
    <div class="col-lg-10">
      {{overview.owner}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Manager</label>
    <div class="col-lg-10">
      {{overview.manager}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Date</label>
    <div class="col-lg-10">
      {{overview.date}}
    </div>
  </div>
</form>
</div>
